.styles__ArrayInfoEditor___3PwM5 {
	list-style: none;
	padding: 0;
}

.styles__ArrayInfoEditor__item___1qVwM {
	background-color: #141414;
	min-height: 20px;
	margin-bottom: 1px;
	padding: 8px 12px;
	line-height: 20px;
	position: relative;
}

.styles__ArrayInfoEditor__title___3hPjA {
	font-weight: 700;
}

.styles__ArrayInfoEditor__content___19jcM {
	color: #999;
	hyphenate-character: "";
	word-wrap: break-word;
	font-size: 13px;
}

.styles__ArrayInfoEditor__content___19jcM a {
	color: #00adee;
}

