.ArrayInfoEditor {
	list-style: none;
	padding: 0;
}

.ArrayInfoEditor__item {
	background-color: #141414;
	min-height: 20px;
	margin-bottom: 1px;
	padding: 8px 12px;
	line-height: 20px;
	position: relative;
}

.ArrayInfoEditor__title {
	font-weight: 700;
}

.ArrayInfoEditor__content {
	color: #999;
	hyphenate-character: "";
	word-wrap: break-word;
	font-size: 13px;
}
